@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import url("hover-min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #181818;
  color: rgb(220, 213, 213);
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

.nav {
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 1rem;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.nav ul {
  padding-left: 2rem;
}

.nav img {
  border-radius: 1.5rem;
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  padding: 1rem;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a:hover {
  color: violet;
}

.nav span {
  color: violet;
}
.about__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  text-align: center;
}

.img_container img {
  width: 24vw;
  /* padding: 3rem; */
  border-radius: 5rem;
  margin-left: 5rem;
  /* margin-top: 2rem; */
}

.para {
  /* margin-top: 6rem; */
}

.para h2 {
  margin-top: 1rem;
}

.tools {
  display: flex;
  justify-content: center;
}

.tools__container {
  margin-top: 3rem;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 2.8rem;
  gap: 2rem;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.icons p {
  font-size: 1rem;
}

.icon i:hover {
  color: violet;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.btn-98,
.btn-98 *,
.btn-98 :after,
.btn-98 :before,
.btn-98:after,
.btn-98:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-98 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-98:disabled {
  cursor: default;
}
.btn-98:-moz-focusring {
  outline: auto;
}
.btn-98 svg {
  display: block;
  vertical-align: middle;
}
.btn-98 [hidden] {
  display: none;
}
.btn-98 {
  --thickness: 2px;
  background: none;
  box-sizing: border-box;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% + var(--thickness)),
    0 calc(100% + var(--thickness))
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% + var(--thickness)),
    0 calc(100% + var(--thickness))
  );

  font-weight: 900;
  -webkit-mask-image: none;
  padding: 2px 0;
  position: relative;
  text-transform: uppercase;
}
.btn-98:before {
  background: #fff;
  bottom: calc(var(--thickness) * -1);
  content: "";

  height: var(--thickness);
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.btn-98:hover:before {
  -webkit-animation: slide 0.5s ease;
  animation: slide 0.5s ease;
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.tools h2 {
  margin-top: 5rem;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  .img_container img {
    width: 20vw;
    height: 24vh;
  }

  .para h1,
  .para h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 736px) {
  .img_container img {
    width: 15vw;
    height: 11vh;
    margin-left: 0;
  }

  .para h1,
  .para h2 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 524px) {
  .img_container img {
    height: 11vh;
    margin-left: 0;
  }
}

@media screen and (max-width: 431px) {
  .img_container img {
    height: 19vh;
    width: 43vw;
    margin-left: 0;
  }

  .img_container {
    display: block;
  }

  .nav {
    font-size: 0.5rem;
  }
}
