@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import url("hover-min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #181818;
  color: rgb(220, 213, 213);
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav {
  margin-top: 1rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.nav ul {
  padding-left: 2rem;
}

.nav img {
  border-radius: 1.5rem;
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  padding: 1rem;
}

.nav a:hover {
  color: white;
}

.nav span {
  color: violet;
}
.about__container {
  height: 100%;
}
.img_container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 1rem;
  text-align: center;
}

.img_container img {
  width: 24vw;
  /* padding: 3rem; */
  border-radius: 5rem;
  margin-left: 3rem;
}

.para {
  margin-top: 6rem;
}

.para h2 {
  margin-top: 1rem;
}

.tools {
  display: flex;
  justify-content: center;
}

.tools__container {
  margin-top: 3rem;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 2.8rem;
  gap: 2rem;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.icons p {
  font-size: 1rem;
}
